{{ define "about" }}
<html>
	<head>
		{{ template "header" }}
		<title>About</title>
	</head>
	<body>
		{{ template "navbar" }}
		<div class="ui about container">
			<label>About jPolly</label>
			<p>
				jPolly is a simple poll website created for a college assignment using <a href="https://go.dev/">Go</a> and the <a href="https://fomantic-ui.com">Fomantic-UI</a> framework.
			</p>
			<p>
				Source code is avalible on <a href="https://gitlab.com/jpolly/jpolly">GitLab</a>, licensed under GNU GPLv3.
			</p>
		</div>
	</body>
</html>
{{ end }}
