<!-- header -->
{{ define "header" }}
<!DOCTYPE html>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css" integrity="sha512-pbLYRiE96XJxmJgF8oWBfa9MdKwuXhlV7vgs2LLlapHLXceztfcta0bdeOgA4reIf0WH67ThWzA684JwkM3zfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<meta name=viewport content="width=device-width, initial-scale=1">
	<style>
	.container {
		margin: 0 auto;
		width: 50%;
		background-color: #212120;
		border-radius: .3rem;
		padding: 4rem 2rem;
	}
	.logo {
		border-radius: 50px;
		box-shadow:  4px 4px 4px #0d0d0d,
             			-4px -4px 4px #353533;
	}
	body {
		margin: auto;
		width: 100%;
		height: 100%;
		background-color: #151514;
		color: #eee;
	}
	</style>
{{ end }}
