{{define "main"}}
<!DOCTYPE html>
<html>
<head>
	{{ template "header" }}
	<title>jPolly</title>
	<script type="text/javascript">
		function appendOption(){
			options = document.getElementById("options")
			div = document.createElement("div")
			div.classList.add("ui", "input", "item")
			inputForOption = document.createElement("input")
			inputForOption.setAttribute("type", "text")
			inputForOption.setAttribute("name", "option")
			inputForOption.setAttribute("placeholder", "Enter poll option...")
			inputForOption.onfocus = appendOption
			div.appendChild(inputForOption)

			document.getElementById("lastInput").setAttribute("onfocus", null)
			document.getElementById("lastInput").setAttribute("id", null)
			inputForOption.setAttribute("id", "lastInput")
			options.appendChild(div)
		}
	</script>
</head>
<body>
	{{ template "navbar"}}
<div class="ui questions container">
	<form action="/newpoll/" method="post" enctype="form-data">
		<div class="ui form">
			<label>Enter your question:</label>
			<div class="field">
				<input type="text" name="question" placeholder="Type question here, options below.">
			</div>
		</div>
		<br/>
		<div class="ui bulleted list" id="options">
			<div class="ui item input">
				<input type="text" name="option" placeholder="Enter poll option...">
			</div>
			<div class="ui item input">
				<input type="text" name="option" placeholder="Enter poll option...">
			</div>
			<div class="ui item input">
				<input type="text" name="option" placeholder="Enter poll option..." onfocus="appendOption()" id="lastInput">
			</div>
		</div>
		<div class="ui inverted toggle checkbox">
			<input type="checkbox" name="PerIP"/>
			<label>One vote per IP address</label>
		</div>
		</br>
		</br>
		<button class="ui button inverted" href="/poll/{.ID}/">Create poll</button>
	</form>
</div>
</body>
</html>
{{end}}
