{{ define "navbar"}}
<div class="ui stackable inverted menu segment">
	<div class="logo item">
		<a style="color:orange">j<span style="color:#eee">Polly</span></p>
	</div>
	<a class="item" href="/">Home</a>
  	<a class="item" href="/about/">About</a>
</div>
{{ end}}
