{{define "poll"}}
<!DOCTYPE html>
<html>

<head>
	{{ template "header" }}
	<title>{{ .Question }}</title>
</head>

<body>
	{{ template "navbar" }}
	<div class="ui container">
	<h1>{{.Question}}</h1>
	<form action="/poll/{{.ID}}/vote/" method="post" enctype="form-data">
		<ul>
			{{if .Answers}}
			{{range $i, $e := .Answers}}
			<li>
				<div class="field">
					<div class="ui radio checkbox inverted">
						<input type="radio" name="Answer" value="{{$i}}" />
						<label>{{$e.Value}}</label>
					</div>
				</div>
			</li>
			{{end}}
			{{end}}
		</ul>
		<button class="ui button inverted enabled" type="submit">Submit vote</button>
	</form>
	<form action="/poll/{{.ID}}/r/" method="get">
		<button class="ui button inverted enabled">Check results</button>
	</form>
	</div>
</body>

</html>
{{end}}
