{{define "results"}}
<!DOCTYPE html>
<html>

<head>
	{{ template "header" }}
	<title>{{ .Question }}</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
	{{ template "navbar" }}
	<div id="container" class="ui container">
		{{if .AlreadyVoted}}
		<h1>You already voted. Cannot vote twice from same IP. {{.IP}}</h1>
		{{end}}
		<label>{{.Question}}</label>
		<div id="chart"></div>
		<div class="ui action input">
			<input id="link-field" type="text" value="https://jpolly.fun/poll/{{.ID}}/" readonly>
			<button id="copybutton" class="ui teal right labeled icon button" data-clipboard-target="#link-field">
	    			<i class="copy icon"></i>
	    			Copy
	  	</button>
		</div>

		<form action="/poll/{{.ID}}/" method="get">
			<button class="ui button inverted">Vote</button>
		</form>
		<br>
		PerIPBlock: {{.PerIP}}
	</div>
	<script>
		var copybutton = document.getElementById('copybutton');
    var clipboard = new ClipboardJS(copybutton);
		clipboard.on('success', function (e) {
		console.log(e);
		});

		clipboard.on('error', function (e) {
		console.log(e);
		});
	</script>

	<script type="text/javascript">
		var options = {
				series: [{
					data: [{{$first := true}}{{range .Answers}}{{if $first}}{{$first = false}}{{else}},{{end}} '{{.Total}}'{{end}} ],
					name: 'votes'
			}],
				chart: {
				type: 'bar',
				height: 350
			},
			plotOptions: {
				bar: {
					borderRadius: 4,
					horizontal: true,
				}
			},
			dataLabels: {
				enabled: false
			},
			xaxis: {
				categories: [{{$first := true}}{{range .Answers}}{{if $first}}{{$first = false}}{{else}},{{end}} '{{.Value}}'{{end}} ],
			},
			yaxis: {
				type: 'numeric',
				axisTicks: {
          show: true,
          borderType: 'solid',
          color: '#78909C',
          height: 6,
          offsetX: 0,
          offsetY: 0
				}
			},
			grid: {
				xaxis: {
					lines: {
						show: true
					}
				}
			},
			theme: {
				mode: 'dark'
			}
		};

		var chart = new ApexCharts(document.querySelector("#chart"), options);
		chart.render();

</script>
</body>

</html>
{{end}}
